################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Keysharp.Tests/obj/Release
/Keysharp.Tests/obj
/.vs/Keysharp
/bin
/Keysharp/obj
/Keysharp.Core/obj
/Keysharp.Forms/bin
/Keysharp.Forms/obj
/Keysharp.OutputTest/obj
/Keysharp/Keysharp.csproj.user
*.user
/Keyview/obj
/Keyview/bin
/Keysharp.Benchmark/bin
/Keysharp.Benchmark/obj
/.vs/ProjectEvaluation
/Keysharp.Install/Debug
/Keysharp.Install/Release
/privatenotes.txt
